<!--<loading show="$ctrl.loading"></loading>-->
<div class="container">

  <lunesheader showlinks="true" balanceuser="$ctrl.balanceUser.confirmed_balance"></lunesheader>

  <!-- BUY -->
  <section class="buy" ng-show="!$ctrl.preICOFinished">

    <!-- USER NAME -->
    <div class="row">
      <div class="title user-menu">
        <a href="" id="user-menu" ng-click="$ctrl.toogleUserMenu()">
          <h4>
            {{'WELCOME' | translate}}, {{$ctrl.currentUser.fullname}}
            <span ng-show="!$ctrl.showUserMenu">
              <i class="fas fa-angle-right green"></i>
            </span>
            <span ng-show="$ctrl.showUserMenu">
              <i class="fas fa-angle-down green"></i>
            </span>
          </h4>
        </a>
        <div class="logout area-button" ng-show="$ctrl.showUserMenu">
          <a href="#!/login" class="primary-button" ng-click="$ctrl.logout()">
            {{'LOGOUT' | translate}}
          </a>
        </div>
      </div>
    </div>

    <!-- 1 STEP: VIEW SEED BUTTON START -->
    <div class="area-button">
      <button ng-class="$ctrl.valueToDeposit ? '' : 'disabled'" class="green-button" ng-click="$ctrl.toogleShowSeedAndAddress()">{{'VIEW_SEED_AND_ADDRESS' | translate}}</button>
    </div>
    <!-- 1 STEP: VIEW SEED BUTTON END -->
    

    <!-- 2 STEP: SEED AND ADDRESS START -->    
    <!-- SEED -->
    <div class="row">
      <div class="col-md-12">
        <div class="phrase">
          <h6>Frases de Backup</h6>
          <div class="row mx-2">
            <div class="col-md-3 text-center">
              <h6 class="mx-2">1º</h6>
              <input disabled type="text" value="fantasy deliver afford">
            </div>
            <div class="col-md-3 text-center">
              <h6 class="mx-2">2º</h6>
              <input disabled type="text" value="disorder primary protect">
            </div>
            <div class="col-md-3 text-center">
              <h6 class="mx-2">3º</h6>
              <input disabled type="text" value="garbage they defense">
            </div>
            <div class="col-md-3 text-center">
              <h6 class="mx-2">4º</h6>
              <input disabled type="text" value="paddle alert reveal">    
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <hr>

    <!-- ENDEREÇOS -->
    <div class="row">
      <div class="col-md-12">
        <div class="address">
          <h6>Endereço</h6>
          <div class="row">
            <div class="col-sm-12 col-md-1 vcenter">
              <h5>LNS</h5>
            </div>
            <div class="col-sm-12 col-md-11">
              <input disabled type="text" value="161cmLgavNNkWTjR61RnNqtejFeB88X6FM">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- WITHDRAW BUTTON -->
    <div class="area-button">
      <button ng-class="$ctrl.valueToDeposit ? '' : 'disabled'" class="green-button" ng-click="$ctrl.toogleShowSeedAndAddress()">{{'WITHDRAW' | translate}}</button>
    </div>

    <!-- VIEW ON BLOCK BUTTON (AFTER WITHDRAW BUTTON CLICKED) -->
    <div class="area-button">
      <button ng-class="$ctrl.valueToDeposit ? '' : 'disabled'" class="green-button" ng-click="$ctrl.toogleShowSeedAndAddress()">{{'CHECK_TRANSACTION_ON_BLOCK' | translate}}</button>
    </div>
    <!-- 2 STEP: SEED AND ADDRESS END -->
    
    <!-- 3 STEP: CHECK TRANSACTION START -->
    <div class="col-md-12">
      <div class="transaction">
        <h3>{{'SUCCESS_WITHDRAW' | translate}}</h3>
        <p><span>{{'QUANTITY' | translate}}:</span> 15000.00 LUNES</p>
        <p><span>{{'TXID' | translate}}:</span> 161cmLgavNNkWTjR61RnNqtejFeB88X6FM</p>
        <p><span>{{'ADDRESS' | translate}}:</span> 161cmLgavNNkWTjR61RnNqtejFeB88X6FM</p>        
      </div>
      <div class="area-button">
        <button ng-class="$ctrl.valueToDeposit ? '' : 'disabled'" class="green-button" ng-click="$ctrl.toogleShowSeedAndAddress()">{{'CHECK_TRANSACTION_ON_BLOCK' | translate}}</button>
      </div>
    </div>
    <!-- 3 STEP: CHECK TRANSACTION END -->

    
  </section>
</div>
<lunesfooter />
