<footer class="container" style="margin-bottom: 20px;">
  <div class="container-footer">
    <div class="row">

      <div class="col-xs-12 text-right" style="letter-spacing: -2px;">
        <span style="font-size:22px;font-family:'Offside',cursive;">L</span>
        <span style="font-size:22px;font-family:'Offside',cursive;">u</span>
        <span style="font-size:22px;font-family:'Offside',cursive;">n</span>
        <span style="font-size:22px;font-family:'Offside',cursive;color: #4cd466;">e</span>
        <span style="font-size:22px;font-family:'Offside',cursive;">s</span>
      </div>

      <div class="col-xs-12 text-right">
        <a href="#!/faq">{{'FAQ' | translate}}</a>
      </div>

    </div>
  </div>
</footer>