<footer class="container" style="margin-bottom: 20px;">
  <div class="row">
    <div class="col-12 container-social">
      <ul class="social" style="padding: 0;margin: 0;">
        <li>
          <a href="https://www.facebook.com/lunesplatform/" target="_blank" class="round-menu">
            <img src="https://res.cloudinary.com/luneswallet/image/upload/v1519442467/facebook_jzfprk.svg" alt="facebook" />
          </a>
        </li>
        <li>
          <a href="https://t.me/LunesPlatformEN" target="_blank" class="round-menu">
            <img src="https://res.cloudinary.com/luneswallet/image/upload/v1519442471/telegram_tuakde.svg" alt="telegram" />
          </a>
        </li>
        <li>
          <a href="https://twitter.com/lunesplatform" target="_blank" class="round-menu">
            <img src="https://res.cloudinary.com/luneswallet/image/upload/v1519442472/twitter_qkqnva.svg" alt="twitter" />
          </a>
        </li>
        <li>
          <a href="https://medium.com/@lunes.platform" target="_blank" class="round-menu">
            <img src="https://res.cloudinary.com/luneswallet/image/upload/v1519442467/medium_sufimk.svg" alt="medium" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-footer">
    <div class="row">

      <div class="col-xs-12 text-right" style="letter-spacing: -2px;">
        <span style="font-size:22px;font-family:'Offside',cursive;">L</span>
        <span style="font-size:22px;font-family:'Offside',cursive;">u</span>
        <span style="font-size:22px;font-family:'Offside',cursive;">n</span>
        <span style="font-size:22px;font-family:'Offside',cursive;color: #4cd466;">e</span>
        <span style="font-size:22px;font-family:'Offside',cursive;">s</span>
      </div>

      <div class="col-xs-12 text-right">
        <a href="#!/faq">{{'FAQ' | translate}}</a>
      </div>

    </div>
  </div>
</footer>