<div class="container">

  <lunesheader showlogout='true' showlinks='true'></lunesheader>

  <!-- DASHBOARD -->
  <section class="dashboard">
    <div class="row">
      <div class="col-12 title mb-2-rem">
        <h4>{{'WELCOME' | translate}}, {{$ctrl.currentUser.fullname}}</h4>
      </div>
      <div class="col-12 history">
        <table class="lunes-table" ng-if="$ctrl.checkWidthScreenDesktop()">
          <thead>
            <tr>
              <td>{{ 'DASHBOARD.DATE' | translate }}</td>
              <td>{{ 'DASHBOARD.PHASE' | translate }}</td>
              <td>{{ 'DASHBOARD.DEPOSIT' | translate }}</td>
              <td>Lunes</td>
              <td>{{ 'DASHBOARD.BONUS' | translate }}</td>
              <td>Total</td>
            </tr>
          </thead>
          <tbody data-ng-if="$ctrl.history.length > 0">
            <tr data-ng-repeat="history in $ctrl.history" ng-class-odd="'odd'" ng-class-even="'even'">
              <td>{{ history.created | date: 'yyyy-MM-dd HH:mm:ss Z' }}</td>
              <td>{{ history.phase || 1 }}</td>
              <td>{{ history.deposit_value }} {{ history.deposit_coin }}</td>
              <td>{{ history.credit_value }} LNS</td>
              <td>{{ history.bonus_value }} LNS </td>
              <td>{{ history.total }} LNS</td>
            </tr>
          </tbody>
          <tfoot data-ng-if="$ctrl.history.length === 0">
            <tr>
              <td colspan="6" style="text-align: center;">{{ 'DASHBOARD.NO_HISTORY' | translate }}</td>
            </tr>
          </tfoot>
        </table>

        <div ng-if="$ctrl.checkWidthScreenMobile()">
          <div data-ng-repeat="history in $ctrl.history" ng-class-odd="'odd'" ng-class-even="'even'" style="border-radius: 5px;">
            <h6 style="text-align: center; padding: 10px; color: #4cd468;">{{'TRANSACTION' | translate}} {{$index+1}}</h6>
            <div class="responsive-table-card">
              <div>{{ 'DASHBOARD.DATE' | translate }}</div>
              <div>{{ history.created | date: 'yyyy-MM-dd HH:mm:ss Z' }}</div>
            </div>
            <div class="responsive-table-card">
              <div>{{ 'DASHBOARD.PHASE' | translate }}</div>
              <div>{{ history.phase || 1 }}</div>
            </div>
            <div class="responsive-table-card">
              <div>{{ 'DASHBOARD.DEPOSIT' | translate }}</div>
              <div>{{ history.deposit_value }} LNS</div>
            </div>
            <div class="responsive-table-card">
              <div>Lunes</div>
              <div>{{ history.credit_value }} LNS</div>
            </div>
            <div class="responsive-table-card total-footer">
              <div>Total</div>
              <div>{{ history.total }} LNS</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 balance">
        <span>{{'MY_BALANCE' | translate}}:</span>
        <span class="monetary">{{ $ctrl.totalLns }}</span>
        <span class="coin">LNS</span>
      </div>
    </div>
  </section>
</div>