<div class="container">

  <!-- HEADER - criar diretiva depois -->
  <nav class="header nav" style="padding: 20px 0;">
    <div class="col-sm-12 col-md-2 col-lg-2 logo" ng-click="$ctrl.goToHome()" style="cursor: pointer;">
      <!-- eslint-disable -->
      <span>L</span>
      <span>u</span>
      <span>n</span>
      <span class="txt-green">e</span>
      <span>s</span>
      <!-- eslint-disable -->
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 nav-menu">
      <ul class="menu horizontal">
        <li>
          <a href="#!/whitelist">{{'WHITELIST' | translate}}</a>
        </li>
        <li>
          <a href="#!/buy">{{'BUY' | translate}}</a>
        </li>
        <li>
          <a href="#!/dashboard">{{'DASHBOARD' | translate}}</a>
        </li>
      </ul>
    </div>

    <div class="col-4 txt-right">
      <ul class="menu horizontal">
        <li>
          <a href="https://www.facebook.com/lunesplatform/" target="_blank" class="round-menu">
            <img src="../assets/facebook.png" alt="facebook" />
          </a>
        </li>
        <li>
          <a href="https://t.me/LunesPlatformEN" target="_blank" class="round-menu">
            <img src="../assets/telegram.png" alt="telegram" />
          </a>
        </li>
        <li>
          <a href="https://twitter.com/lunesplatform" target="_blank" class="round-menu">
            <img src="../assets/twitter.png" alt="twitter" />
          </a>
        </li>
        <li>
          <a href="https://medium.com/@lunes.platform" target="_blank" class="round-menu">
            <img src="../assets/medium.png" alt="medium" />
          </a>
        </li>
      </ul>
    </div>
  </nav>



</div>