$primary: #4c2b82 !default;
$lightPrimary: #654fa4;
$extraLightPrimary: #876fc6;
$darkPrimary: #41256f;
$extraDarkPrimary: #3f2569;
$green: #44af57;
$darkGreen: #44af57;
$yellow: #f9d660;
$darkGray: #333;