<div class="row container-logo-header" style="padding: 10px 0;">
  <!-- LOGO -->
  <div class="col-sm-4 col-md-4 col-lg-4 logo " ng-click="$ctrl.goToHome()">
    <span >L</span>
    <span>u</span>
    <span>n</span>
    <span class="txt-green">e</span>
    <span>s</span>
  </div>

  <!-- PRICE CURRENT COIN and LOGOUT -->
  <div class="col-sm-12 col-md-8 col-lg-8 container-data" ng-show="$ctrl.showlinks">
    <div class="col-xs-12 col-md-6 col-lg-6 coupom">
      {{'OWN_COUPON' | translate}}
      <span style="font-weight: bold;color: #3bbe6e;">{{$ctrl.currentUser.ownCoupon}}</span>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 container-balance">
      <span>{{'MY_BALANCE' | translate}}</span>
      <img src="https://res.cloudinary.com/luneswallet/image/upload/v1519442468/icon-lunes_qhumiw.png" alt="Icon Lunes"> {{$ctrl.totalLns}}
    </div>
  </div>
</div>

<!-- QUOTATION COINS -  btc, eth, ltc -->
<div class="quotation-coins" ng-show="$ctrl.showlinks">
  <small style="padding: 0 10px;color: #fff;">
    <img src="https://res.cloudinary.com/luneswallet/image/upload/v1519442467/icon_btc.svg" alt="bitcoin">&nbsp;$ {{$ctrl.balanceCoins.BTC.balance.PRICE}}</small> |

  <small style="padding: 0 10px;color: #fff;">
    <img src="https://res.cloudinary.com/luneswallet/image/upload/v1519442468/icon_ltc.svg" alt="litecoin">&nbsp;$ {{$ctrl.balanceCoins.LTC.balance.PRICE}}</small> |

  <small style="padding: 0 10px;color: #fff;">
    <img src="https://res.cloudinary.com/luneswallet/image/upload/v1519442467/icon_eth.svg" alt="ethereum">&nbsp;$ {{$ctrl.balanceCoins.ETH.balance.PRICE}}</small>
</div>

<!-- MENU and SOCIAL MEDIA links -->
<nav class="header" ng-show="$ctrl.showlinks">
  <div class="col-12 nav-menu">
    <ul class="menu menu-top" style="padding: 0;margin: 0;">
      <li ng-class="{active: $ctrl.location === 'buy'}">
        <a href="#!/buy">{{'BUY' | translate}}</a>
      </li>
      <li ng-class="{active: $ctrl.location === 'historic'}">
        <a href="#!/historic">{{'PURCHASE_HISTORY' | translate}}</a>
      </li>
      <!--<li ng-class="{active: $ctrl.location === 'security'}">
        <a href="#!/security">{{'SECURITY' | translate}}</a>
      </li>-->
    </ul>
  </div>
</nav>