.qr-code {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    margin-top: 15px;
    text-align: center;
  }
  .enabled-twofa {
    font-size: 5em;
  }
  .alert-auth {
    font-size: 1.3em;
    label {
      display: block;
      width: 100%;
    }
  }
  .input-calculator {
    text-align: center;
  }
}
.wrap-error-message {
  text-align: center;
}
.twofa-invalid {
  display: inline-block;
  text-align: center;
  padding: 5px 15px 5px 15px;
  border-radius: 25px;
  background-color: #cc385a;
  margin: 10px 0 0 0;
  cursor:pointer;
}

.link-google-play {
  text-align: center;
  margin: 50px;
  a {
    background-color: #32bc57;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
  }
}
