<div class="container">

  <lunesheader showlogout="true" showlinks="true"></lunesheader>

  <div class="qr-code" ng-if="!$ctrl.currentUser.twofaEnabled">
    <img ng-src="{{$ctrl.base64Img}}" alt="">
    <p>{{'USE_GOOGLE_OAUTH' | translate}}</p>
    <button ng-click="$ctrl.generateAnotherQRCode()">{{'I_WANT_ENABLE_OAUTH' | translate}}</button>
  </div>

  <div class="qr-code" ng-if="$ctrl.currentUser.twofaEnabled">
    <span class="enabled-twofa">
      <i class="fa fa-smile"></i>
    </span>
    <p>{{'YOU_ALREADY_ENABLE_OAUTH' | translate}}</p>
    <button ng-click="$ctrl.generateAnotherQRCode()">{{'I_WANT_ENABLE_OAUTH' | translate}}</button>
  </div>

</div>